<div class="container">

  <app-admin-nav></app-admin-nav>

  <div class="row">

    <app-admin-menu class="col-md-3"></app-admin-menu>

    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          Manage permissions
        </div>
        <div class="card-body">
          <div class="alert alert-success" role="alert">
            Settings have been saved.
          </div>

          <table class="table">
            <thead>
            <tr>
              <th scope="col">Device</th>
              <th scope="col">Reading</th>
              <th scope="col">Execute</th>
            </tr>
            </thead>
            <tbody>

            <tr>
              <td>lights</td>
              <td>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <select class="form-control">
                        <option selected>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                  </div>
                </form>
              </td>
              <td>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <select class="form-control">
                        <option selected>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                  </div>
                </form>
              </td>
            </tr>

            <tr>
              <td>temperature</td>
              <td>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <select class="form-control">
                        <option selected>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                  </div>
                </form>
              </td>
              <td>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <select class="form-control">
                        <option selected>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                  </div>
                </form>
              </td>
            </tr>

            <tr>
              <td>tv-samsung</td>
              <td>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <select class="form-control">
                        <option selected>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                  </div>
                </form>
              </td>
              <td>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <select class="form-control">
                        <option selected>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                  </div>
                </form>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
