<div class="container">

  <app-admin-nav></app-admin-nav>

  <div class="row">

    <app-admin-menu class="col-md-3"></app-admin-menu>

    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          Device edit
        </div>
        <div class="card-body">
          <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
          </div>

          <div class="input-group">
            <label for="name" class="sr-only">Name</label>
            <input type="name" id="name" class="form-control" placeholder="Name" required autofocus value="tv-samsung">&nbsp;
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
    </div>
  </div>

</div>
