<div class="container">

  <app-admin-nav></app-admin-nav>

  <div class="row">

    <app-admin-menu class="col-md-3"></app-admin-menu>

    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          Users
        </div>
        <div class="card-body">
          <div [hidden]="thereAreUsersToDisplay()" class="alert alert-info" role="alert">
            There are no users to display.
          </div>

          <table class="table">
            <thead>
            <tr>
              <th scope="col">Email</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Created at</th>
              <th scope="col">Active</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let user of users">
              <td>{{user.email}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.createdAt}}</td>
              <td><strong>{{user.isActive}}</strong></td>
              <td>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <a href="/admin/managePermissions"><button type="button" class="btn btn-sm btn-primary btn-block">Permissions</button></a>
                    </div>
                    <div class="form-group col-md-6">
                      <a href="/admin/deviceList"><button type="button" class="btn btn-sm btn-primary btn-block">Devices</button></a>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                        <a [routerLink]="['/admin/userEdit', user.id]"><button type="button" class="btn btn-sm btn-light btn-block">Edit</button></a>
                    </div>
                    <div class="form-group col-md-6">
                      <form #userDeleteForm="ngForm" (ngSubmit)="delete()" novalidate>
                        <input type="hidden" name="id" [(ngModel)]="user.id">
                        <button type="submit" class="btn btn-sm btn-light btn-block">Delete</button>
                      </form>
                    </div>
                  </div>
                </form>
              </td>
            </tr>
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
