<div class="container">
  <img src="assets/pwr-logo.png" style="width: 400px; height: 80px">
  <table class="table">
    <thead>
      <tr>
        <th class="col">Kod</th>
        <th class="col">Nazwa</th>
        <th class="col">Profil</th>
        <th class="col">Poziom</th>
        <th class="col">Obszar</th>
        <th class="col">Akcja</th>
      </tr>
      <tr *ngFor="let ministerialEffect of ministerialEffects">
        <td class="col">{{ ministerialEffect.code }}</td>
        <td class="col">{{ ministerialEffect.name }}</td>
        <td class="col">{{ ministerialEffect.profile }}</td>
        <td class="col">{{ ministerialEffect.stage }}</td>
        <td class="col">{{ ministerialEffect.area['name'] }}</td>
        <td class="col">
          <a [routerLink]="['/admin/ministerialEffects/edit', ministerialEffect.id]"><button type="button" class="btn btn-sm btn-light btn-block">Edytuj</button></a>
          <form #ministerialEffectDeleteForm="ngForm" (ngSubmit)="delete()" novalidate style="margin-top: 10px;">
            <input type="hidden" name="id" [(ngModel)]="ministerialEffect.id" [value]="ministerialEffect.code">
            <button type="submit" class="btn btn-sm btn-danger btn-block">Usuń</button>
          </form>
        </td>
      </tr>
    </thead>

  </table>
  <div class="form-group col-md-3">
    <a [routerLink]="['/admin/ministerialEffects/add']"><button type="button" class="btn btn-sm btn-primary btn-block" style="background: #b32216 !important;">Dodaj</button></a>
  </div>
</div>
