<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th class="col">Kod</th>
        <th class="col">Nazwa</th>
        <th class="col">Profil</th>
        <th class="col">Poziom</th>
        <th class="col">Obszar</th>
        <th class="col">Akcja</th>
      </tr>
      <tr *ngFor="let ministerialEffect of ministerialEffects">
        <td class="col">{{ ministerialEffect.code }}</td>
        <td class="col">{{ ministerialEffect.name }}</td>
        <td class="col">{{ ministerialEffect.profile }}</td>
        <td class="col">{{ ministerialEffect.stage }}</td>
        <td class="col">{{ ministerialEffect.area_id }}</td>
        <td class="col">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <a [routerLink]="['#', ministerialEffect.id]"><button type="button" class="btn btn-sm btn-light btn-block">Edytuj</button></a>
              </div>
              <div class="form-group col-md-6">
                <form #ministerialEffectDeleteForm="ngForm" (ngSubmit)="delete()" novalidate>
                  <input type="hidden" name="id" [(ngModel)]="ministerialEffect.id">
                  <button type="submit" class="btn btn-sm btn-light btn-block">Usuń</button>
                </form>
              </div>
            </div>
          </form>
        </td>
      </tr>
    </thead>

  </table>
</div>
