<div class="container">

  <app-admin-nav></app-admin-nav>

  <div class="row">

    <app-admin-menu class="col-md-3"></app-admin-menu>

    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          Add user
        </div>
        <div class="card-body">
          <div class="col-md">

            <form #userAddForm="ngForm" (ngSubmit)="save()" novalidate>

              <div *ngIf="isFieldInvalid('isAdmin') || isFieldInvalid('email') || isFieldInvalid('password') || isFieldInvalid('firstName') || isFieldInvalid('lastName')"
                class="alert alert-danger">
                <p *ngIf="isFieldInvalid('email')">Email is required.</p>
                <p *ngIf="isFieldInvalid('password')">Password is required.</p>
                <p *ngIf="isFieldInvalid('firstName')">First name is required.</p>
                <p *ngIf="isFieldInvalid('lastName')">Last name is required.</p>
                <p *ngIf="isFieldInvalid('isAdmin')">Status is required.</p>
              </div>

              <label for="inputEmail" class="sr-only">Email address</label>
              <input [(ngModel)]="user.email" name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
                required autofocus>

              <label for="inputPassword" class="sr-only">Password</label>
              <input [(ngModel)]="user.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
                required>

              <label for="inputRepeatPassword" class="sr-only">Repeat address</label>
              <input name="password2" type="password" id="inputRepeatPassword" class="form-control" placeholder="Repeat password"
                required>

              <label for="inputFirstName" class="sr-only">First name</label>
              <input [(ngModel)]="user.firstName" name="firstName" type="firstName" id="inputFirstName" class="form-control" placeholder="First name"
                required>

              <label for="inputLastName" class="sr-only">Last name</label>
              <input [(ngModel)]="user.lastName" name="lastName" type="lastName" id="inputLastName" class="form-control" placeholder="Last name"
                required>

              <select class="form-control" name="isAdmin" [(ngModel)]="user.isAdmin">
                <option *ngFor="let status of statuses" [value]="status.id" selected>{{status.status}}</option>
              </select>

              <button type="submit" class="btn btn-primary btn-lg" style="width:100%">Submit</button>
            </form>
          </div>
          <div class="col-md">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
