body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin-heading {
  margin-bottom: 10px;
  padding: 10px;
}

.form-control {
  margin-top: 5px !important;
}

.btn {
  margin-top: 5px;
  height: auto;
}
